.modal{
    height:60vh;
    width:60vw;
    border:6px solid black;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  
}

.modal-body{
    text-align: center;

}