.footer{
    color:white;
    background-color: black;
    padding: 5px 15px;
    height:100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}


.footer .link-box{

    width:400px;
    display: flex;
    justify-content: space-between;
}


.footer .social-media-box{
    width:300px;
    display: flex;
    justify-content: space-between;

}
